<!doctype html>
<html ng-app="app" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/lib/mdc-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/lib/bs.css">
    <link rel="stylesheet" href="/css/mdc.css">
    <script src="/lib/jquery.js"></script>
    <script src="/lib/popper.js"></script>
    <script src="/lib/bs.js"></script>
    <script src="/lib/mdc.js"></script>
    <script src="/lib/ang.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/funcfactory.js"></script>
    <script type="text/javascript" src="/js/contacts.js"></script>
    <title>Contacts : Megalith</title>
</head>

<body ng-controller="Contacts" class="mdc-typography mdc-theme--secondary-dark-bg">
    <aside style="position: absolute;height: 100%;" class="mdc-drawer mdc-drawer--persistent mdc-typography">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header ">
                <div class="mdc-drawer__header-content">
                    Megalith
                </div>
            </header>
            <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
                <a class="mdc-list-item " href="/">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">data_usage</i> Dashboard 
      </a>
                <a class="mdc-list-item" href="/servers">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings_system_daydream</i> Servers
      </a>
                <a class="mdc-list-item mdc-list-item--activated" href="/contacts">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">contacts</i> Contacts
      </a>
                <hr class="mdc-list-divider ">
                <a class="mdc-list-item" href="/settings">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i> Settings
       </a>
            </nav>
        </nav>
    </aside>
    <header class="mdc-toolbar mdc-theme--secondary-dark-bg">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <button class="menu material-icons mdc-toolbar__menu-icon">menu</button>
                <button ng-click="addContact()" data-toggle="tooltip" data-placement="bottom" title="Add a new contact to alert on downtime." class="nsrv material-icons mdc-toolbar__menu-icon">add</button>
                <span class="mdc-toolbar__title">Contacts</span>
            </section>
        </div>
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="sub-body">
        <div role="progressbar" ng-show="loading" class="mdc-linear-progress mdc-linear-progress--indeterminate">
            <div class="mdc-linear-progress__buffering-dots"></div>
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
        </div>
        <div class="row full-height">
            <div class="col-3 full-height">
                <p style="padding: 10px;margin-bottom: 5px;">
                    <input type="text" placeholder="Filter by contact nickname" class="form-control" ng-model="search.text">
                </p>
                <ul class="mdc-list  mdc-list--avatar-list">
                    <li ng-show="(mega.Contacts.length == 0 || !mega.Contacts) && !loading " ng-click="addContact()" class="mdc-list-item">
                        <span class="mdc-list-item__graphic" role="presentation">
                   <i class="nsrv material-icons" aria-label="View more information" data-toggle="tooltip" data-placement="bottom" title="Add a new contact to alert on downtime.">
                    add
                  </i>
                  </span>
                        <span class="mdc-list-item__text">
                    New contact
                   
                        </span>
                    </li>
                    <li ng-repeat="contact in mega.Contacts" ng-show="contact.Nickname.toLowerCase().includes(search.text.toLowerCase())  || !search.text" ng-click="editContact(contact)" ng-class="{'mdc-list-item--activated': (contact == scontact)}" class="mdc-list-item">
                        <span class="mdc-list-item__graphic" role="presentation">
                   <i class="material-icons">person</i>
                  </span>
                        <span class="mdc-list-item__text">
                    {{ contact.Nickname }}
                    </span>
                        <i class="mdc-list-item__meta material-icons" aria-label="View more information" data-toggle="tooltip" data-placement="bottom" title="Update contact.">
                    keyboard_arrow_right
                  </i>
                    </li>
                </ul>
            </div>
            <div class="col-5 full-height" ng-show="scontact">
                <div class="mdc-list-group full-height list-group--custom">
                    <div class="mdc-list-group__subheader">Server settings <a style="float:right;" class="mdc-list-item__meta material-icons" aria-label="View more information" title="Delete contact" ng-click="deleteContact(scontact)">
                    delete_forever
                  </a>
                        <hr class="mdc-list-divider">
                        <br>
                        <label>Name</label>
                        <input type="text" placeholder="..." ng-model="scontact.Nickname" class="form-control">
                        <br>
                        <p ng-show="!mega.Mail.Email || mega.Mail.Email == ''">Please make sure you enter your SMTP server information. Access it <a href="/settings">here.</a> </p>
                        <label>email</label>
                        <input type="email" placeholder="user@domain.com" ng-model="scontact.Email" class="form-control">
                        <p ng-show="!mega.SMS.Token || mega.SMS.Token == ''">Please make sure you enter your Twilio API information. Access it <a href="/settings">here.</a> </p>
                        <label>Phone</label>
                        <input type="text" placeholder="0000" ng-model="scontact.Phone" class="form-control">
                    </div>
                    <hr class="mdc-list-divider">
                    <div class="mdc-list-group__subheader">
                        <label>Alert threshold(%)</label>
                        <p ng-show="!scontact.Threshold">This field specifies the minimum uptime percent (%) a server must reach, before the user is notified. </p>
                        <input type="number" ng-model="scontact.Threshold" placeholder="%" class="form-control">
                        <br>
                        <label>Servers to watch</label>
                        <select ng-model="scontact.Watching" multiple="" class="form-control">
                            <option ng-repeat="server in mega.Servers" value="{{ server.ID }}">{{ server.Nickname }} ( {{ server.Host }} )</option>
                        </select>
                    </div>
                    <hr class="mdc-list-divider">
                    <br>
                    <div class="mdc-list-group__subheader">
                        <button class="mdc-button mdc-button--raised" ng-click="updateContact(scontact)">apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-snackbar__action-button"></button>
        </div>
    </div>
    <script type="text/javascript ">
    $(".nsrv,.mdc-list-item__meta.material-icons ").tooltip();
    </script>
    <script type="text/javascript">
    window.__snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
    </script>
</body>

</html>