<!doctype html>
<html ng-app="app" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/lib/mdc-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/lib/bs.css">
    <link rel="stylesheet" href="/css/mdc.css">
    <script src="/lib/jquery.js"></script>
    <script src="/lib/popper.js"></script>
    <script src="/lib/bs.js"></script>
    <script src="/lib/mdc.js"></script>
    <script src="/lib/ang.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/funcfactory.js"></script>
    <script type="text/javascript" src="/js/k8s_setup.js"></script>
    <title>k8s settings : Megalith</title>
</head>

<body ng-controller="k8s_setup" class="mdc-typography mdc-theme--secondary-dark-bg">
    <aside style="position: absolute;height: 100%;" class="mdc-drawer mdc-drawer--persistent mdc-typography">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header ">
                <div class="mdc-drawer__header-content">
                    Megalith
                </div>
            </header>
            <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
                <a class="mdc-list-item " href="/">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">data_usage</i> Dashboard 
      </a>
                <a class="mdc-list-item" href="/servers">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings_system_daydream</i> Servers
      </a>
                <a class="mdc-list-item " href="/contacts">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">contacts</i> Contacts
      </a>
                <hr class="mdc-list-divider ">
                   <label class="mdc-list-item ">k8s settings</label>
                <a class="mdc-list-item mdc-list-item--activated" href="/k8s_setup">
         <i class="material-icons mdc-list-item__graphic" aria-hidden="true">terrain</i> Configuration
         </a>
                <a class="mdc-list-item " href="/k8s_pods">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"></i> Pods
      </a>
                <hr class="mdc-list-divider ">
                <a class="mdc-list-item" href="/settings">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i> Settings
       </a>
            </nav>
        </nav>
    </aside>
    <header class="mdc-toolbar mdc-theme--secondary-dark-bg">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <button class="menu material-icons mdc-toolbar__menu-icon">menu</button>
                <span class="mdc-toolbar__title">Configuration</span>
            </section>
        </div>
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="sub-body">
        <div role="progressbar" ng-show="loading" class="mdc-linear-progress mdc-linear-progress--indeterminate">
            <div class="mdc-linear-progress__buffering-dots"></div>
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
        </div>
        <div class="row full-height">
            <div class="col-7 full-height" style="margin:0 auto;">
                <div class="mdc-list-group full-height list-group--custom">
                    <div class="mdc-list-group__subheader">
                     
                        <label>URL scheme and host name of k8s API server.</label>
                        <input type="text" placeholder="http://k8s" ng-model="mega.KubeSettings.MetricAPIHost" class="form-control">
                        <label>The port number k8s API is listenning on.</label>
                        <input type="text" placeholder="8080" ng-model="mega.KubeSettings.MetricAPIPort" class="form-control">
                        <label>The API path to k8s pod metrics.</label>
                        <input type="text" placeholder="/apis/metrics/v1alpha1/pods" ng-model="mega.KubeSettings.MetricAPIPath" class="form-control">  
                         <label>k8s pod namespace.</label>
                         <p class="text-muted" ng-show="mega.KubeSettings.MetricNamespace == ''">Leave this field empty to get a list of all the pods in your cluster.</p>
                        <input type="text" placeholder="default" ng-model="mega.KubeSettings.MetricNamespace" class="form-control">                     
                    </div>
                    <hr class="mdc-list-divider">
                    <br>
                    <div class="mdc-list-group__subheader">
                        <button class="mdc-button mdc-button--raised" ng-click="saveConfig()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-snackbar__action-button"></button>
        </div>
    </div>
    <script type="text/javascript ">
    $(".nsrv,.mdc-list-item__meta.material-icons ").tooltip();
    </script>
    <script type="text/javascript">
    window.__snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
    </script>
</body>

</html>