<!doctype html>
<html ng-app="app" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/lib/mdc-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/lib/bs.css">
    <link rel="stylesheet" href="/css/mdc.css">
    <script src="/lib/jquery.js"></script>
    <script src="/lib/popper.js"></script>
    <script src="/lib/mdc.js"></script>
    <script src="/lib/ang.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/funcfactory.js"></script>
    <script type="text/javascript" src="/js/servers.js"></script>
    <script src="/lib/chart.js"></script>
    <title>Servers : Megalith</title>
</head>

<body ng-controller="servers" class="mdc-typography mdc-theme--secondary-dark-bg">
    <aside style="position: absolute;height: 100%;" class="mdc-drawer mdc-drawer--persistent mdc-typography">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header ">
                <div class="mdc-drawer__header-content">
                    Megalith
                </div>
            </header>
            <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
                <a class="mdc-list-item " href="/">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">data_usage</i> Dashboard 
      </a>
                <a class="mdc-list-item mdc-list-item--activated" href="/servers">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings_system_daydream</i> Servers
      </a>
                <a class="mdc-list-item" href="/contacts">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">contacts</i> Contacts
      </a>
        <hr class="mdc-list-divider ">
                <label class="mdc-list-item ">k8s settings</label>
                <a class="mdc-list-item " href="/k8s_setup">
         <i class="material-icons mdc-list-item__graphic" aria-hidden="true">terrain</i> Configuration
         </a>
                <a class="mdc-list-item " href="/k8s_pods">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"></i> Pods
      </a>
                <hr class="mdc-list-divider ">
                <a class="mdc-list-item" href="/settings">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i> Settings
       </a>
            </nav>
        </nav>
    </aside>
    <header class="mdc-toolbar mdc-theme--secondary-dark-bg">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <button class="menu material-icons mdc-toolbar__menu-icon">menu</button>
                <button ng-click="addServer()" data-toggle="tooltip" data-placement="bottom" title="Add a new server to monitor." class="nsrv material-icons mdc-toolbar__menu-icon">add</button>
                <span class="mdc-toolbar__title">Servers</span>
            </section>
        </div>
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="sub-body">
        <div role="progressbar" ng-show="loading" class="mdc-linear-progress mdc-linear-progress--indeterminate">
            <div class="mdc-linear-progress__buffering-dots"></div>
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
        </div>
        <div class="row full-height">
            <div class="col-3 full-height">
                <p style="padding: 10px;margin-bottom: 5px;">
                    <input type="text" placeholder="Filter by server nickname" class="form-control" ng-model="search.text">
                </p>
                <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
                    <li ng-show="(mega.Servers.length == 0 || !mega.Servers) && !loading " ng-click="addServer()" class="mdc-list-item">
                        <span class="mdc-list-item__graphic" role="presentation">
                   <i class="nsrv material-icons" aria-label="View more information" data-toggle="tooltip" data-placement="bottom" title="Add a new server to monitor. You may also use the button above.">
                    add
                  </i>
                  </span>
                        <span class="mdc-list-item__text">
                    New Server
                   
                        </span>
                    </li>
                    <li ng-repeat="server in mega.Servers" ng-show="server.Nickname.toLowerCase().includes(search.text.toLowerCase()) || !search.text" ng-click="editServer(server)" ng-class="{'mdc-list-item--activated': (server == sserver)}" class="mdc-list-item">
                        <span class="mdc-list-item__graphic" role="presentation">
                   <img src="{{ server.Image }}">
                  </span>
                        <span class="mdc-list-item__text">
                    {{ server.Nickname }}
                    <span class="mdc-list-item__secondary-text">{{ server.Host }}</span>
                        </span>
                        <i class="nsrv mdc-list-item__meta material-icons" aria-label="View more information" data-toggle="tooltip" data-placement="bottom" title="Edit server settings. Update the endpoints monitored on this server.">
                    keyboard_arrow_right
                  </i>
                    </li>
                </ul>
            </div>
            <div ng-show="sserver" class="col-9 full-height">
                <div class="row full-height">
                    <div class="col-5 full-height">
                        <div class="mdc-list-group full-height list-group--custom">
                            <div class="mdc-list-group__subheader">Server settings ( <span ng-class="{'text-danger' : (sserver.Uptime < .40),'text-success' : (sserver.Uptime > .70),'text-warning' : (sserver.Uptime < .70 && sserver.Uptime > .40 )}">Up {{ round(sserver.Uptime) }}% </span>) <a ng-click="deleteServer(sserver)" style="float:right;" class="mdc-list-item__meta material-icons" aria-label="View more information" title="Stop monitoring server.">
                    delete_forever
                  </a>
                                <hr class="mdc-list-divider">
                                <label>Nickname</label>
                                <input type="text" ng-model="sserver.Nickname" placeholder="Nickname of server." class="form-control">
                                <label>URL to server</label>
                                <input type="text" ng-model="sserver.Host" placeholder="URL to API or web interface." class="form-control">
                                <br>
                                <input type="checkbox" ng-model="sserver.Live">
                                <label>Monitor</label>
                                <br>
                                <button ng-click="updateServer(sserver)" class="mdc-button mdc-button--raised">Save</button>
                            </div>
                            <hr class="mdc-list-divider">
                            <div class="mdc-list-group__subheader">Endpoints ({{ sserver.Endpoints.length }}) <a ng-click="addEndpoint()" style="float:right;" class="mdc-list-item__meta material-icons" aria-label="View more information" title="Add a new endpoint to monitor.">
                    add
                  </a></div>
                            <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
                                <li ng-repeat="endpoint in sserver.Endpoints" ng-class="{'mdc-list-item--activated': (endpoint == sendpoint)}" ng-click="editEndpoint(endpoint)" class="mdc-list-item">
                                    <span class="mdc-list-item__graphic" role="presentation">
                    <i class="material-icons" aria-hidden="true">insert_drive_file</i>
                  </span>
                                    <span class="mdc-list-item__text">
                    {{ endpoint.Method }} {{ endpoint.Path }}
                    <span class="mdc-list-item__secondary-text " ng-class="{'text-danger' : (endpoint.Uptime < .40),'text-success' : (endpoint.Uptime > .70),'text-warning' : (endpoint.Uptime < .70 && endpoint.Uptime > .40 )}">Up {{ round(endpoint.Uptime) }}%</span>
                                    </span>
                                    <i class="mdc-list-item__meta material-icons" aria-label="View more information" title="Update endpoint settings">
                    keyboard_arrow_right
                  </i>
                                </li>
                            </ul>
                            <br>
                            <hr class="mdc-list-divider">
                        </div>
                    </div>
                    <div ng-show="sendpoint" class="col-7 full-height">
                        <div class="mdc-list-group list-group--custom">
                            <div class="mdc-list-group__subheader">Endpoint settings
                                <a style="float:right;" ng-click="removeEndpoint(sendpoint)" class="mdc-list-item__meta material-icons" aria-label="View more information" title="Remove" ">
                    delete_forever
                  </a><br >
                  <hr class="mdc-list-divider ">
                  <label>Path</label>
                    <div class="input-group mb-3 ">
                      <div class="input-group-prepend ">
                        <span class="input-group-text " id="basic-addon1 ">{{ sserver.Host }}</span>
                      </div>
                      <input type="text " class="form-control " ng-model="sendpoint.Path " placeholder="/Path/to/test " ng aria-describedby="basic-addon1 ">
                    </div>
                    <label>Request method</label>
                    <select class="form-control " ng-model="sendpoint.Method ">
                                    <option >GET</option>
                                    <option >POST</option>
                                    
                                    <option >RESET</option>
                                    <option >PUT</option>
                                    <option >DELETE</option>
                                    <option >OPTIONS</option>                              
                    </select>
                      
                         <p>
                         <br>
                         <label>The http headers sent separated by '\n'</label>
                            <textarea class="form-control " placeholder="ie: Content-Type: text/html;\nHeader-2: value; " ng-model="sendpoint.Headers "></textarea> 

                        </p>
                        <p ng-show="!sendpoint.Method || sendpoint.Method !='GET' ">
                        <label>Request data</label>
                            <textarea class="form-control " style="min-height: 70px; " placeholder="Data " ng-model="sendpoint.Data "></textarea>
                        </p>
                                                 <br>
                         <label>Request timeout (in seconds)</label>
                            <input type="number " class="form-control " placeholder="seconds " ng-model="sendpoint.Timeout ">
                      <hr class="mdc-list-divider ">
                      <br >
                        <button ng-click="updateServer(sserver) " class="mdc-button mdc-button--raised ">Save</button>
                  </div>
                        </div>
                        <hr class="mdc-list-divider ">              
                           <div class="mdc-card ">
                            <div class="mdc-card__media mdc-card__media--square ">
                                  <div class="mdc-card__media-content "><h3>{{ server.Nickname }} </h3>
                                  <h5>{{ server.Host }} </h5>
                                  <p ng-class="{ 'text-danger' : (sendpoint.Uptime < .40), 'text-success' : (sendpoint.Uptime> .70),'text-warning' : (sendpoint.Uptime
                                < .70 && sendpoint.Uptime> .40 )}" >{{ round(sendpoint.Uptime) }}% uptime</p>
                                    <h5 ng-show="loadingChart">Loading request data.</h5>
                                    <canvas ng-hide="loadingChart" id="chartdispArea"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/lib/bs.js"></script>
    <script type="text/javascript ">
    $(".nsrv,.mdc-list-item__meta.material-icons ").tooltip();
    </script>
    <div class="mdc-snackbar " aria-live="assertive " aria-atomic="true " aria-hidden="true ">
        <div class="mdc-snackbar__text "></div>
        <div class="mdc-snackbar__action-wrapper ">
            <button type="button " class="mdc-snackbar__action-button "></button>
        </div>
    </div>
    <script type="text/javascript ">
    window.__snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
    </script>
</body>

</html>